<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuttlemap.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	  <uses-permission android:name="android.permission.INTERNET" />    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <permission android:name="com.shuttlemap.android.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.shuttlemap.android.permission.MAPS_RECEIVE" />
    
     <permission android:name="com.shuttlemap.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.shuttlemap.android.permission.C2D_MESSAGE" />
    
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-feature android:required="true" android:glEsVersion="0x00020000"/>
    
    <application
        android:name="com.shuttlemap.android.ShuttlemapApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        
        <activity
            android:name="com.shuttlemap.android.IntroActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.shuttlemap.android.MainActivity"
            android:theme="@style/AppTheme"
            android:label="Shuttle"
            android:screenOrientation="portrait"
            ></activity>
        
        <activity 
            android:name="com.shuttlemap.android.ShuttleDetailActivity"
            android:theme="@style/AppTheme"
            android:label="Shuttle"
            android:screenOrientation="portrait"
            ></activity>
        
         <activity 
            android:name="com.shuttlemap.android.LoginActivity"
            android:theme="@style/AppTheme"
            android:label="Shuttle"
            android:screenOrientation="portrait"
            ></activity>
         
         <activity 
            android:name="com.shuttlemap.android.FirstJoinActivity"
            android:theme="@style/AppTheme"
            android:label="Shuttle"
            android:screenOrientation="portrait"
            ></activity>
         
          <activity 
            android:name="com.shuttlemap.android.RegistAccountActivity"
            android:theme="@style/AppTheme"
            android:label="Shuttle"
            android:screenOrientation="portrait"
            ></activity>
          
          <activity 
            android:name="com.shuttlemap.android.MapWebViewActivity"
            android:theme="@style/AppTheme"
            android:label="Shuttle"
            android:screenOrientation="portrait"
            ></activity>
          <activity 
            android:name="com.shuttlemap.android.MapRouteActivity"
            android:theme="@style/AppTheme"
            android:label="Shuttle"
            android:screenOrientation="portrait"
            ></activity>
          
           <activity 
            android:name="com.shuttlemap.android.SearchFriendsActivity"
            android:theme="@style/AppTheme"
            android:label="Friends"
            android:screenOrientation="portrait"
            ></activity>
          
           <activity 
            android:name="com.shuttlemap.android.ManageFriendsActivity"
            android:theme="@style/AppTheme"
            android:label="Friends"
            android:screenOrientation="portrait"
            ></activity>
           <activity 
            android:name="com.shuttlemap.android.MyInfoActivity"
            android:theme="@style/AppTheme"
            android:label="MyInfo"
            android:screenOrientation="portrait"
            ></activity>
           <activity 
            android:name="com.shuttlemap.android.AgreeActivity"
            android:theme="@style/AppTheme"
            android:label="agree"
            android:screenOrientation="portrait"
            ></activity>
          
           <!--
	          BroadcastReceiver that will receive intents from GCM
	          services and handle them to the custom IntentService.
	
	          The com.google.android.c2dm.permission.SEND permission is necessary
	          so only GCM services can send data messages for the app.
	        -->
	        <receiver
	            android:name="com.google.android.gcm.GCMBroadcastReceiver"
	            android:permission="com.google.android.c2dm.permission.SEND" >
	            <intent-filter>
	                <!-- Receives the actual messages. -->
	                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
	                <!-- Receives the registration id. -->
	                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
	                <category android:name="com.shuttlemap.android" />
	            </intent-filter>
	        </receiver>
	
	        <!--
	          Application-specific subclass of GCMBaseIntentService that will
	          handle received messages.
	
	          By default, it must be named .GCMIntentService, unless the
	          application uses a custom BroadcastReceiver that redefines its name.
	        -->
	        <!--  service android:name="com.clockworks.android.bigture.GCMIntentService" / -->
	        <!--  meta-data android:value="AIzaSyDYniAZKsbRkCtNJgcfkrk2XSSm_qu68_I" android:name="com.google.android.maps.v2.API_KEY"/ --> 
	        
	        <!-- 운영용 -->
	        <meta-data android:value="AIzaSyBXE_kJnAvyVaV1eeYwKEfAl4bdcCrKOys" android:name="com.google.android.maps.v2.API_KEY"/>
	       
	       
	       <service android:name="com.shuttlemap.android.service.LocationUpdateService"/>
    </application>

</manifest>
