/* jssor slider bullet navigator skin 21 css */
/*
.jssorb21 div           (normal)
.jssorb21 div:hover     (normal mouseover)
.jssorb21 .av           (active)
.jssorb21 .av:hover     (active mouseover)
.jssorb21 .dn           (mousedown)
*/ 
.jssorb21 div, .jssorb21 .jssorb21 .av {
    background: url(../images/home/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb21 div {
    background-position: -5px -5px;
}

.jssorb21 .av {
    background-position: -65px -5px;
}

.jssorb21 .dn, .jssorb21 .dn:hover {
    background-position: -95px -5px;
}